<div class="catmenu-overlay" id="catMenuOverlay" onclick="closeCatMenu()"></div>

<div class="catmenu" id="catMenu">
    <div class="catmenu-columns" id="catMenuColumns">
        <div class="catmenu-col" id="catMenuCol0"></div>
    </div>
</div>